
.form-control {
    margin: 1rem 0;
    padding: 0 2.5rem;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}
.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}
.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  color: #223843;
  border: 1px solid var(--accent);
  border-radius: 3px;
  background: var(--accent);
  padding: 0.25rem 0.5rem;
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}
.form-control--invalid label,
.form-control--invalid p {
  color: red;
}
.form-control--invalid input {
  border-color: red;
  background: #ffd1d1;
}

#file {
  opacity: 0;
}

input:read-only {
  color:#7a7a7a;
}