.navbar {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 12px;
    box-shadow:
      0 8px 10px rgba(29, 29, 49, 0.9),
      inset 0 2px 0 rgba(242, 233, 228, 0.05),
      inset 0 -2px 0 rgba(154, 140, 152, 0.05),
      inset 0 0 0px 0px rgba(255, 255, 255, 0);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    position: sticky;
    top: 20px;
    z-index: 2;
}

@media (max-width: 740px) {
  .navbar {
    display: none;
  }
}