.navbar {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    border-radius: 12px;
    box-shadow: 0 0 20px 3px var(--quaternary);
    position: sticky;
    top: 20px;
    z-index: 2;
}

@media (max-width: 740px) {
  .navbar {
    display: none;
  }
}