.introduction {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;

}

.heading {
    color: var(--secondary);
    text-shadow: 0 3px 12px var(--quaternary);
}

.introduction-text {
    font-size: 1.2rem;
    max-width: 500px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease, transform 1.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
