.exp-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow:
      0 8px 10px rgba(29, 29, 49, 0.9),
      inset 0 2px 0 rgba(242, 233, 228, 0.05),
      inset 0 -2px 0 rgba(154, 140, 152, 0.05),
      inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.exp-heading{
    text-align: start;
    color: var(--secondary);
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    padding: 0 0 1rem 1rem;
}

.exp-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
}

.exp-card{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.exp-card:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(154, 140, 152, 0.26);
    transform: scale(1.02);
    transition: transform 0.5s ease;
}

.details {
    max-height: 0;           /* aluksi piilotettu */
    overflow: hidden;
    transition: max-height 1s ease;
}

.details.show {
    max-height: 1000px;
    transition: max-height 2.5s ease;
}

.details p {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}

.details.show p {
  opacity: 1;
  transform: translateY(0);
}

.list-text {
    text-align: start;
    padding: 1.5rem;
}

@media (max-width: 740px) {
  .exp-heading {
    padding: 0 0 1em 0;
  }
}