
.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1em;
}

.project-section ul {
  list-style: none;
  padding-left: 0px;
}

.project-section li {
    color: var(--secondary)
}