.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background: var(--primary);
    color: var(--tertiary);
    text-shadow: 0 5px 12px var(--quaternary);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;

  }
  .button:focus {
    outline: none;
  }
  .button:hover {
    transform: scale(1.2);
}

.button:active {
    color: var(--accent);
    transform: scale(0.9);
}
  .button--inverse {
    background: var(--secondary);
    color: var(--accent);
}
.button--inverse:hover {
    color: var(--accent);
    background: var(--quaternary);
    transform: scale(1);
}
.button--inverse:active {
    transform: scale(0.9);
  }
  .button--danger {
    background: #8d3a3a;
    border-color: #8d3a3a;
  }
  .button--danger:hover,
  .button--danger:active {
    background: #4a1f1f;
    border-color: #4a1f1f;
  }
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  .button--small {
    font-size: 0.8rem;
  }
  .button--big {
    font-size: 1.5rem;
  }